{%- for step in agent_scratchpad %}
<thinking>{{ step.action.thought }}</thinking>
<action>{{ step.action.tool }}</action>
<action_input>{{ step.action.tool_input }}</action_input>
<observation>{{ step.observation }}</observation>
{% endfor %}
<thinking>