<context>
    <type>merge_request</type>
    <content>The user is currently on a page that displays a merge request with a description, comments, etc., which the user might refer to, for example, as 'current', 'this' or 'that'. The title of the merge request is '{{context.title}}'.
        {%- if enhanced_context %}
            {{- " Remember to use the 'MergeRequestReader' tool if they ask a question about the Merge Request." }}
        {%- endif %}</content>
</context>